.Messages {
	display: grid;
	grid-template-columns: 3fr 8fr;
	font-size: 16px;
	color: white;
}
.dialogues {
	padding: 10px;
	background-color: rgb(0, 102, 109);
}
.dialogues a {
	color: white;
}
.dialogues .active {
	color: gold;
}
.messaging {
	padding: 10px;
	background-color: rgb(36, 53, 102);
}
