.Messages {
	display: grid;
	grid-template-columns: 2fr 8fr;
	font-size: 16px;
}
.dialogues {
	background-color: white;
}
.messages {
	background-color: rgb(177, 155, 255);
	padding: 10px;
}
.myMessage {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	padding: 10px 15px;
	margin: 10px 20px;
}
.error {
	display: inline-block;
	border: 1px solid red;
	padding: 10px;
	color: red;
}
