.MyPosts {
	font-size: 30px;
	text-transform: uppercase;
	padding: 20px;
}
.post_text {
	padding: 20px;
	height: 100px;
	width: 600px;
	box-shadow: 1px 1px 10px black;
	border-radius: 30px;
}
button {
	background-color: #b2c227;
	padding: 5px 10px;
	margin: 10px 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #7f8a1c;
	font-size: 16px;
}
.new {
	font-size: 20px;
	margin: 15px 0;
}
