.MyPosts {
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	padding: 20px;
}
.post_text {
	padding: 20px;
	height: 100px;
	width: 600px;
	box-shadow: 1px 1px 10px black;
	border-radius: 30px;
}
.new {
	font-size: 20px;
	margin: 15px 0;
}
.send {
	color: white;
	background-color: #2ad4e0;
	padding: 5px 10px;
	margin: 10px 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #2ad4e0;
	font-size: 16px;
}
.posts {
	display: flex;
	flex-direction: column-reverse;
}
