.col {
	width: 50%;
	flex: 1 1 50%;
	padding: 20px;
}
.field {
	margin: 10px 0;
}
.error {
	display: inline-block;
	text-transform: none;
	border: 2px solid red;
	border-radius: 20px;
	padding: 10px;
	font-size: 20px;
}
