.header {
	grid-area: h;
	background-color: rgb(230, 230, 230);
	display: flex;
	align-items: center;
}
.header img {
	height: 80px;
	padding: 10px;
}

.title {
	font-size: 40px;
	color: #0976bb;
	text-shadow: 0px 2px 3px #0976bb;
}
