.wallpaper img {
	width: 100%;
	height: 250px;
}
.profile {
	background-color: #336f86;
}
.user {
	display: flex;
}
.userinfo {
	padding: 20px;
	line-height: 1.3;
	font-size: 16px;
	color: white;
}
.contact {
	padding-left: 10px;
}
.userpic {
	padding: 10px;
}
.userpic img {
	border-radius: 60px;
	width: 300px;
}

.fullName {
	font-size: 30px;
}
