.error input,
.error textarea {
	border: 3px solid red;
}
.error span {
	color: red;
	font-size: 18px;
	text-transform: none;
	background-color: white;
	border: 1px solid red;
	padding: 5px 10px;
	border-radius: 10px;
	font-weight: 600;
	display: inline-block;
	margin-bottom: 10px;
}
