.header {
	font-size: 45px;
	color: white;
	text-align: center;
	padding-top: 30px;
}
.form {
	width: 80%;
	margin: 0 auto;
	color: white;
}
.field {
	margin: 10px 0;
}
.field label {
	display: block;
	margin: 10px 0;
}
.checkbox {
	margin-bottom: 15px;
}
.checkbox label {
	padding-right: 10px;
}
.btn {
	padding: 5px 10px;
}
.input {
	padding: 5px 10px;
	border-radius: 10px;
}
.summary_error {
	border: 1px solid red;
	padding: 10px;
	color: red;
	background-color: #fff;
	border-radius: 10px;
}
